<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Travels Time Suite">

	<listeners>
		<listener class-name="com.mytravels.listener.Listener" />
	</listeners>
	<test name="My Travels Time Tests">
		<classes>
			<class name="com.mytravels.pagetest.HomepagePageTest"></class>
			<class name="com.mytravels.pagetest.LoginPageTest"></class>
		</classes>
	</test>
	

</suite>